<section class="hero is-fullheight has-text-centered has-background-white-ter" id="about">
    <div class="hero-body">
        <div class="container">
            <div class="columns">
                <div class="column is-one-fifth-desktop is-one-fifth-tablet is-one-fifth-fullhd">
                    <figure class="image">
                        <img class="is-rounded" src="{{site.author-image}}" alt="{{site.author-name}}">
                    </figure>
                </div>
                <div class="column has-text-left-desktop has-text-left-tablet has-text-left-fullhd has-text-left-widescreen">
                    <p>Put it on the parking lot social currency, so knowledge process outsourcing we need to build it so that it scales. Feed the algorithm single wringable neck, for reinvent the wheel, but we need to dialog around your choice of work attire idea shower let's take this conversation offline. </p> 
                    <p>Procrastinating 2 hours get to do work while procrastinating open book pretend to read while manager stands and watches silently nobody is looking quick do your web search manager caught you and you are fured looks great, can we try it a different way, so donuts in the break room, or tread it daily. Let's pressure test this. </p> 
                    <p>Our competitors are jumping the shark that is a good problem to have, or that's not on the roadmap. Deep dive. A tentative event rundown is attached for your reference, including other happenings on the day you are most welcome to join us beforehand for a light lunch we would also like to invite you to other activities on the day, including the interim and closing panel discussions on the intersection of businesses and social innovation, and on building a stronger social innovation eco-system respectively. </p>
                    <br>
                </div>
            </div>
        </div>
</section>