<section class="hero is-fullheight has-text-centered has-background-white-ter" id="about">
    <div class="hero-body">
        <div class="container">
            <div class="columns">
                <div class="column has-text-left-desktop has-text-left-tablet has-text-left-fullhd has-text-left-widescreen">
                    <div class="container columns is-centered">
                        <div>
                            <a href="assets/docs/Exercise-Cheat-Sheet.pdf"
                                class="button is-rounded is-uppercase has-text-weight-normal is-black is-outlined">Download as PDF</a>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>